/* Estilo para los formularios */
.form-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Ocultar los formularios por defecto */
  }
  
  .form-container.highlight {
    display: block; /* Mostrar el formulario cuando está resaltado */
    background-color: #f9f9f9; /* Color de fondo cuando está resaltado */
  }
  
  form {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  